html,
body {
    background-color:cadetblue;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#calculator {
    width: 280px;
    height: 200px;
    display: flex;
    border-style: solid;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding-bottom: 10px;
    background-color: black;
}

#up {
    width: 100%;
}
#display {
    min-height: 40px;
    background-color: black;
    border-style: solid;
    color:orange;
    padding-right: 5px;
    padding-top: 2px;
    text-align: right;
    font-size: larger;
    margin: 10px;
    border-radius: 5px;
}

#bottom {
    display: flex;
    height: 100%;
    margin: 5px 10px;
    gap: 5px;
}
#numbers {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 1;
    width: 100%;
    justify-content: center;
}
.numbers {
    width: 33.33%;
    height: auto;
    border-radius: 50px;
    font-weight: bolder;
    border-style: solid;
    border-color: orange;
    background-color: black;
    color: orange;
}
.numbers:hover{
    background-color: orange;
    border-style: solid;
    border-color: orange;
    color: black;
}
#zero {
    flex-grow: 1;
}


#operators {
display: flex;
flex-wrap: wrap;
}
.operators {
    width: 50%;
    border-radius: 50px;
    font-weight: bolder;
    border-style: solid;
    border-color: cadetblue;
    background-color: black;
    color: cadetblue;
}
.operators:hover{
    background-color:cadetblue;
    border-style: solid;
    border-color: cadetblue;
    color: black;
}

#equals {
    flex-grow: 1;
}
#equals:hover {
    background-color: cadetblue;
    border-style: solid;
    border-color: cadetblue;
    color: black;
}

#clears {
    display: flex;
    flex-direction: column;
    order: -1;
    gap: 2px;
}
.clears{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    font-weight: bolder;
    border-style: solid;
    border-color: cadetblue;
    background-color: black;
    color: cadetblue;
}
.clears:hover{
    background-color: cadetblue;
    border-style: solid;
    border-color: cadetblue;
    color: black;
}
